<div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <span class="text-left logo">
          <img src="../assets/logo.png" />
        </span>
      </div>
      <div class="col-6 phone-box text-right">
       
          <span> <span class="xs-hide-title">service help line </span><a href="tel:+496170961709" class="fa fa-phone" aria-hidden="true"></a> 
            <a  class="xs-hide" href="tel:+496170961709">+496170961709</a>
        </span>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
