<div class="home-wrapper">

   <div class="container">
       <div class="row">
          <div class="col-12 text-center">
             <h3>
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been  Lorem Ipsum has been 
             </h3>
             <p>is simply dummy text of the printing and typesetting industry.</p>
          </div>
       </div>
   </div>

  <div class="container">
      <div class="row home-title">
           <div class="col-12">
                  <img src="../../assets/home.jpg" />
                  <ul>
                    <li>  standard dummy <span>123469888</span></li>
                    <li>  standard dummy <span>standard dummy</span></li>
                    <li>  standard dummy <span>1</span></li>
                    <li>  standard dummy <span>78</span></li>
                  </ul>
                  <span class=" btn-warning-span">
                      <button type="button" class="btn btn-warning">Download Expose</button>
                   </span>
            </div>
          
      </div>
  </div>

</div>